@import url("https://fonts.googleapis.com/css2?family=Acme&family=Nova+Mono&display=swap");

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  display: flex;
  align-items: center;
  background-color: rgb(243, 197, 211);
}

.calculator {
  display: flex;
  box-shadow: 6px 6px 0 rgb(202, 199, 199);
  flex-direction: column;
  align-items: space-around;
  justify-content: space-around;
  width: 432px;
  height: 550px;
  flex-shrink: 0;
  border: 2px solid rgb(255, 255, 255);
  background-color: antiquewhite;
  border-radius: 10px;
}

.firstrow {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.screen {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 300px;
  height: 100px;
  background: #ffffff;
  border: 2px solid rgb(53, 52, 51);
  border-radius: 10px;
  background-color: rgb(181, 182, 180);
}

.secondrow {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.thirdrow {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.fourthrow {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.fifthrow {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.btnum {
  width: 79px;
  height: 60px;
  border-radius: 27px;
  background-color: #8ecddd;
  border: none;
  cursor: pointer;
  font-family: "Nova Mono", monospace;
  font-size: 20px;
  box-shadow: 3px 3px 0 rgb(202, 199, 199);
}

.pros {
  width: 79px;
  height: 60px;
  border-radius: 19px;
  background: #ffcc70;
  border: none;
  cursor: pointer;
  font-family: "Nova Mono", monospace;
  font-size: 20px;
}

#clear {
  width: 79px;
  height: 60px;
  border-radius: 19px;
  background: #a1dccb;
  border: none;
  cursor: pointer;
  font-family: "Nova Mono", monospace;
  font-size: 20px;
}

.dis {
  width: 79px;
  height: 60px;
  border-radius: 19px;
  background: #ffcc70;
  border: none;
  cursor: pointer;
  font-family: "Nova Mono", monospace;
  font-size: 20px;
}

#result {
  font-family: "Nova Mono", monospace;
  font-size: 25px;
}

#histext {
  font-family: "Nova Mono", monospace;
}

.btnum:hover {
  background-color: #93d8ed;
}

.pros:hover {
  background-color: #f9e0a2;
}

.dis:hover {
  background-color: #f9e0a2;
}
